{% load static %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.css' %}" />
<link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.min.css' %}" />

<link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/bootstrap.css.map' %}" />
<link rel="stylesheet" href="{% static 'vendors/bootstrap.min.css.map' %}" />

<link rel="stylesheet" href="{% static 'vendors/bootstrap-theme.min.css' %}" />

<link rel="stylesheet" href="{% static 'vendors/bootstrap-theme.min.css.map' %}" />
<link rel="stylesheet" href="{% static 'vendors/bootstrap-table.min.css' %}" />

