body {
    padding-top: 70px;
    align-items: center;
    background-color: gray;
    font-family: Arial, sans-serif;
}

#board {
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
}

.navbar {
    background-color: #3c3c3c;
}

#logo {
    position: relative;
    left: 10%;
    color: white
}

#secondWindow {
    max-width: 800px;
    margin: 10px;
    min-height: 370px;
}

#moveTable {
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

/* #controls {
    position: absolute;
    bottom: 0;
} */

.captured-pieces {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 10px 0;
}

.captured-pieces img {
    width: 30px;
    height: 30px;
}

.board-default {
    background: #f0d9b5;
}

.board-green {
    background: #6aa84f;
}

.board-blue {
    background: #6fa8dc;
}

.board-dark {
    background: #3c3c3c;
}

.text-center {
    font-size: 1.5rem;
    line-height: 1.6;
}

.bg-light {
    background-color: #f8f9fa !important;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    color: #333;
}
